@font-face {
    font-family: 'Comic Helvetic';
    src: url('ComicHelvetic-Medium.woff2') format('woff2'),
        url('ComicHelvetic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

